TZ=Asia/Kathmandu

DOMAIN=<your domain here>
DEFAULT_CONFIG_PATH=<path to store config files>
DEFAULT_CACHE_PATH=<path to store cache files>
DEFAULT_DATA_PATH=<path to store app data>
JELLYFIN_MEDIA_PATH=<path to your media files>

TWINGATE_NETWORK=<TENANT NAME>
TWINGATE_ACCESS_TOKEN=<ACCESS TOKEN>
TWINGATE_REFRESH_TOKEN=<REFRESH TOKEN>
